.DS_Store
**/.DS_Store

**/.idea
**/android
**/ios
**/build
**/.metadata
**/basic_app.iml
**/pubspec.yaml
**/budget_calendar.iml
**/my_app.iml
**/.packages

**/android/**
**/ios/**
**/build/**

**/android/
**/ios/
**/build/
